.help-page-container {
    width: auto;
    height: 50rem;
    margin: auto;
    color: white;
    text-align: center;
}

.howToList {
    text-align: center;
    list-style-position: inside;
    font-size: 2.5rem;
}

.help-page-container li {
    margin: 1.5rem 0;
}